//----------------------------------------------------------------------------------------------
//************************************* Begin::Input *****************************************//
//----------------------------------------------------------------------------------------------

.input-wrapper{
    position: relative;
    background-color: #F6F6F4;
    border: 1px solid #E6EBED;
    border-radius: 4px;
    padding: 12px;
    label{
        pointer-events:none;
        color: #979CA8;
        letter-spacing: 0.4px;
        font-size:$font-x-small;
        line-height: $small;
        transition:0.2s ease all; 
        -moz-transition:0.2s ease all; 
        -webkit-transition:0.2s ease all;
    }
    .form-input{
        display: block;
        border-radius: 5px;
        font-size: $font-base;
        border-radius: 4px;
        border: 0;
        width: 100%;
        background-color: color(base,transparent);
        transition: .2s ease;
        &:focus{
            outline: 0;
        }
    }
    // .form-input:focus ~ label {
    //     top:10px;
    //     font-size:$font-x-small;
    //   }

    //   .form-input:valid ~ label {
    //     top:10px;
    //     font-size:$font-x-small;
    //   }
}





//----------------------------------------------------------------------------------------------
//************************************* End::Input *******************************************//
//----------------------------------------------------------------------------------------------