//----------------------------------------------------------------------------------------------
//*********************************** Begin::Folder Path *************************************//
//----------------------------------------------------------------------------------------------
$path-fonts: '../fonts/Montserrat/';
$path-icons:'../fonts/mdi/';
$path-fontello:'../fonts/fontello/'
//----------------------------------------------------------------------------------------------
//*********************************** End::Folder Path ***************************************//
//----------------------------------------------------------------------------------------------