//----------------------------------------------------------------------------------------------
//*************************************** Begin::Grid ****************************************//
//----------------------------------------------------------------------------------------------

//-- Begin:: For Grid System --//

//Example: <div class="col-6"></div>; 1~12

$columns:12;

@for $i from 1 through $columns {

  .col-#{$i} {
    flex: 0 0 100% / $columns * $i;
    max-width: 100% / $columns * $i;
  }

}

//-- Begin:: For Grid System --//

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -16px;
    margin-right: -16px;
    box-sizing: border-box;
  }
  
  div[class^="col-"] {
    padding-right: 16px;
    padding-left: 16px;
    position: relative;
    width: 100%;
    box-sizing: border-box;
}

//----------------------------------------------------------------------------------------------
//**************************************** Begin::Grid ***************************************//
//----------------------------------------------------------------------------------------------