@import '../variables/_paths.scss';

//----------------------------------------------------------------------------------------------
//*************************** Begin::Template Fonts Include **********************************//
//----------------------------------------------------------------------------------------------


//**** Font Style Thin ****//
@font-face {
  font-family: 'Montserrat' ;
  src: url('#{$path-fonts}Montserrat-Thin.woff2') format('woff2'),
    url('#{$path-fonts}Montserrat-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}


//**** Font Style Light ****//
@font-face {
  font-family: 'Montserrat' ;
  src: url('#{$path-fonts}Montserrat-Light.woff2') format('woff2'),
    url('#{$path-fonts}Montserrat-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}



//**** Font Style Regular ****//
@font-face {
  font-family: 'Montserrat' ;
  src: url('#{$path-fonts}Montserrat-Regular.woff2') format('woff2'),
    url('#{$path-fonts}Montserrat-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


//**** Font Style Medium ****//
@font-face {
  font-family: 'Montserrat' ;
  src: url('#{$path-fonts}Montserrat-Medium.woff2') format('woff2'),
    url('#{$path-fonts}Montserrat-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}


//**** Font Style Semibold ****//
@font-face {
  font-family: 'Montserrat' ;
  src: url('#{$path-fonts}Montserrat-SemiBold.woff2') format('woff2'),
      url('#{$path-fonts}Montserrat-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

//**** Font Style Bold ****//
@font-face {
  font-family: 'Montserrat' ;
  src: url('#{$path-fonts}Montserrat-Bold.woff2') format('woff2'),
      url('#{$path-fonts}Montserrat-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}



//----------------------------------------------------------------------------------------------
//****************************** End::Template Fonts Include *********************************//
//----------------------------------------------------------------------------------------------
